@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.cars {
  & .container {
    width: 100%;
    margin-top: 8rem;
    height: 90%;
    .alert {
      width: 100%;
      @include alert($warning, $warningbg);
      display: none;
      &.visible {
        display: inline-flex;
      }
    }
  }
}
.car-pic-container {
  border: 2px dashed $grey;
  border-radius: 8px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .car-pic-input {
    position: absolute;
    opacity: 0;
    top: -99999%;
    left: -99999%;
  }
  & label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    & svg {
      font-size: 3rem;
    }
    & svg,
    p {
      opacity: 0.5;
    }
    & p {
      font-weight: 500;
    }
  }
}
.closeModal {
  cursor: pointer;
  font-size: 1.5rem;
}
.publish-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  & .publish {
    margin-top: 1rem;
    width: 100%;
    // font-family: $mainFont;
    // font-weight: 600;
    // font-size: 1.1rem;
    // padding: 1rem;
    @include buttonPrimary;
    &:disabled {
      background: $grey;
    }
  }
}

.formGroup-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  & > * {
    flex: 1;
  }
}

@media (max-width: $tablet-max-breakpoint) {
  .formGroup-container {
    flex-direction: column;
  }
  .publish {
    width: 100%;
  }
}
