@import "../../styles/variables.scss";
.proposal-details {
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 5rem;
  & .container {
    overflow: scroll;
    margin-top: 4rem;
    width: min(100%, 1000px);
    display: flex;
    flex-direction: column;
    border: 2px solid $grey;
    border-radius: 8px;
    min-width: 300px;
    // min-height: 100px;
    // max-height: 80%;
    height: 80%;
    & .header {
      display: flex;
      justify-content: center;
      position: relative;
      & .title {
        // margin-left: auto;
      }
      & .trash {
        margin-left: auto;
        font-size: 1.8rem;
        color: $darkgrey;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        &:hover,
        &:focus {
          color: $black;
        }
        &:active {
          color: $darkgrey;
          transform: scale(0.95);
        }
      }
    }
    & .title {
      font-weight: 500;
      font-size: 2rem;
      text-align: center;
    }
    h4 {
      font-weight: 800;
      font-size: 1.2rem;
      margin-top: 1rem;
    }
    & .car-details,
    & .owner-details {
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
    }
    & .car-details {
      border-bottom: 2px solid $grey;
      & .img-container {
        background-color: rgb(114, 114, 114);
        border-radius: 8px;
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        min-width: 200px;
        align-self: flex-start;
        max-height: 200px;
        & img {
          width: 100%;
          height: auto;
        }
        &:hover,
        &:focus {
          cursor: pointer;
          & img {
            width: 130%;
          }
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            opacity: 0.5;
          }
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 55%;
        gap: 0rem;
        & .model {
          font-size: 2.1rem;
          text-transform: capitalize;
          font-weight: 600;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          & span {
            font-size: 1rem;
            font-weight: 500;
          }
        }
        & .car-discription {
          word-break: break-all;
          word-wrap: break-word;

          & a {
            color: $accent;
            font-weight: 600;
            word-wrap: normal;
            word-break: keep-all;
            // margin-left: 0.5rem;
            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
        & .availability {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & .date {
            display: flex;
            gap: 0.5rem;
            & span {
              font-weight: 700;
            }
          }
        }
      }
      & .button-container {
        // border: 1px solid red;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 160px;
        & .car-btn {
          // width: 100%;
          padding: 0.5rem 1rem;
          border-radius: 6px;
          border: none;
          background: $accent;
          font-family: $mainFont;
          color: $white;
          font-weight: 500;
          font-size: 1.1rem;
          &:disabled {
            background-color: $grey !important;
          }
          &.cancel {
            background-color: $dangerLight;
          }
        }
      }
    }
    & .owner-details {
      flex-direction: column;

      & .owner-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        & img {
          border-radius: 10000px;
          width: 150px;
          height: 150px;
        }
        & .owner-details__text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & .info {
            & span {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-max-breakpoint) {
  .proposal-details {
    & .container {
      & .car-details,
      & .owner-details {
        flex-direction: column;
      }
      & .car-details {
        & .img-container {
          width: 100%;
          max-height: 200px;
          & img {
          }
        }
        &__text {
          // gap: 1rem;
          width: 100%;
          & .model {
          }
        }
      }
      & .owner-details {
        & .owner-container {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
        &__text {
          align-items: center;
          gap: 1rem;
          & .info {
            & h3 {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
