@import "../../styles/variables.scss";
.about {
  & .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.preview {
  box-shadow: 0px 0px 0px 8px $accentfaded;
  padding: 2rem 3.5rem;
  background: $accentmedium;
  border-radius: 20px;
  width: 90%;
  // height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  & h2 {
    // text-align: center;
    font-size: 2.1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: $black;
  }
  & p {
    font-size: 1.2rem;
    position: relative;
    color: $black;
    font-weight: 500;
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background: $accent;
      position: absolute;
      border-radius: 50px;
      top: 7px;
      left: -20px;
    }
  }
}

@media (max-width: $laptop-max-breakpoint) {
  .preview {
    // width: 100%;
    padding: 2rem 2.5rem;
    gap: 2rem;
    & h2 {
      font-size: 1.8rem;
    }
    & p {
      font-size: 1.1rem;
    }
  }
}
@media (max-width: $tablet-max-breakpoint) {
  .preview {
    padding: 2rem 2.5rem;
    gap: 2rem;
    width: 100% !important;
    & h2 {
      font-size: 1.8rem;
    }
    & p {
      font-size: 1.1rem;
    }
  }
}
