@import "./variables.scss";
@import "./mixins.scss";
.container.join,
.container.login,
.container.password-reset {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form-join,
  .form-login {
    background: $extralightgrey;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    width: min(90%, 400px);
    & .google-btn {
      width: 100% !important;
      position: relative;
      &:disabled {
        background: $grey !important;
      }
    }
    & .or {
      text-align: center;
      position: relative;
      color: $darkgrey;
      font-weight: 500;
      &::after,
      &:before {
        content: "";
        position: absolute;
        width: 45%;
        height: 1px;
        background: $darkgrey;
        top: 50%;
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
    & h1 {
      font-size: 2.8rem;
      font-weight: 500;
      text-align: center;
      white-space: nowrap;
    }
    & .alert {
      padding: 1rem;
      background: rgb(255, 173, 173);
      border: 2px solid rgb(255, 0, 0);
      border-radius: 8px;
      font-weight: 600;
      color: rgb(255, 0, 0);
    }
    &__control {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &__input {
      padding: 0.8rem;
      outline: none;
      border-radius: 8px;
      border: 1px solid $grey;
      border: none;
      transition: box-shadow 0.2s ease;
      font-family: $mainFont;
      font-weight: 500;
      &:focus {
        box-shadow: 0 0 5px 2px $accentmedium;
      }
    }

    & .types span {
      font-family: $mainFont;
      font-weight: 500;
    }

    &__submit {
      padding: 0.6rem 1rem;
      border-radius: 8px;
      border: none;
      background: $accent;
      font-family: $mainFont;
      font-weight: 500;
      font-size: 1rem;
      @include buttonPrimary;

      &:disabled {
        background: $grey;
      }
    }
    & .forgot-password {
      font-size: 0.8rem;
      margin-top: -10px;
      font-weight: 600;
      color: $darkgrey;
      &:hover,
      :focus {
        color: $black;
        text-decoration: underline;
      }
    }
    & .question {
      text-align: center;
      & a {
        color: $black;
        font-weight: 700;
        font-size: 1rem;
        transition: none;
        white-space: nowrap;
        &:hover,
        &:focus {
          color: $accent;
          text-decoration: underline;
        }
      }
    }
  }
}
