$black: #373737;
$white: #fff;
$accent: #1dbc72;
$lighgrey: #f9f9f9;
$darkgrey: rgb(99, 99, 99);
$highlight: #f6f5f1;
$mainFont: "Quicksand", sans-serif;

$phone-breakpoint: 500px;
$tablet-breakpoint: 950px;
