$black: #373737;
$white: #ffffff;
// $accent: #ff9000;
$accent: #f4b251;
$accentfaded: #fceed7;
$lighgrey: #dddddd;
$darkgrey: rgb(99, 99, 99);
$highlight: #f6f5f1;
$mainFont: "Quicksand", sans-serif;
$grey: rgba($black, 0.3);
$phone-max-breakpoint: 700px;
$tablet-max-breakpoint: 900px;
$laptop-max-breakpoint: 1199px;
$desktop-min-breakpoint: 1200px;
$padXl: 20px;
