@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.alert {
  width: 350px;
  border-radius: 8px;
  padding: 0.8rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: -110%;
  transition: all 0.5s cubic-bezier(0.29, 1, 0.77, 1.05);
  z-index: 100;
  @include alert(transparent, transparent);
  &.visible {
    bottom: 10px;
    &.danger {
      @include alert($danger, $dangerbg);
    }
    &.success {
      @include alert($success, $successbg);
    }
  }
  &__close {
    font-size: 1.3rem;
    cursor: pointer;
  }
  &__text {
    width: 90%;
    word-wrap: break-word;
  }
}
