@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.join {
  & .container {
    & .alert {
      position: absolute;
      bottom: -110%;

      @include alert(transparent, transparent);
      &.visible {
        bottom: 10px;
        &.danger {
          @include alert($danger, $dangerbg);
        }
        &.success {
          @include alert($success, $successbg);
        }
      }
    }
  }
}
.react-tel-input .form-control {
  width: 100% !important;
}
.react-tel-input .special-label {
  display: none !important;
}
