@import "../../styles/variables.scss";
.user-dropdown {
  &__invisible {
    display: none !important;
  }
  background: $white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: absolute;
  top: 110%;
  right: 2%;
  border-radius: 8px;
  min-width: 200px;
  gap: 0.5rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.171);

  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: $mainFont;
    color: $black;
    font-weight: 500;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background: $lightgrey;
    }
  }
  &__icon {
    font-size: 1.3rem;
  }
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: $white;
    // background: red;
    transform: rotateZ(45deg);
    top: -10px;
    right: 45%;
    z-index: -10;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.171);
  }
}

@media (max-width: $laptop-max-breakpoint) {
  .user-dropdown {
    &::before {
      right: 22px;
    }
  }
}
@media (max-width: $tablet-max-breakpoint) {
  .user-dropdown {
    &::before {
      right: 26px;
    }
  }
}
